<h2>Reactivo: Básicos</h2>
<hr>


<div class="row">
  <div class="col">
    <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
             <input
                 type="text"
                 class="form-control"
                 placeholder="Nombre del Producto"
                 formControlName="nombre"
                 >
             <span
                  *ngIf="campoEsValido('nombre')"
                  class="form-text text-danger"
                  >Debe tener 3 caracteres</span>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
             <input
                 type="number"
                 class="form-control"
                 placeholder="Precio del Producto"
                 formControlName="precio"
                >
                 <span
                  *ngIf="campoEsValido('precio')"
                  class="form-text text-danger">El precio debe ser mayor que 0</span>

        </div>
      </div>

       <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
             <input
                 type="number"
                 class="form-control"
                 placeholder="Existencias del Producto"
                 formControlName="stock"
                 >
                 <span
                 *ngIf="campoEsValido('stock')"
                 class="form-text text-danger">El stock debe ser mayor que 0</span>

        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
                type="submit"
                class="btn btn-primary float-end"
                >Guardar</button>
              </div>

      </div>
    </form>
  </div>
</div>




<hr>
<div class="row">
  <div class="col">
    <span>Es Válido el formulario: <strong>{{ miFormulario.valid }}</strong></span>
    <br>
    <span>Pristine: <strong>{{ miFormulario.pristine }}</strong></span>
    <br>
    <span>Touched: <strong>{{ miFormulario.touched }}</strong></span>
    <br>
    <br><hr>
    <span>Valor: </span>
    <pre>{{ miFormulario.value | json }}</pre>
<hr><br>

  </div>
</div>
