/* You can add global styles to this file, and also import other style files */

.pointer{
  cursor: pointer!important;
}
.sideMenu{
  padding:20px;
  background-color:gray;
  height: calc(100vh - 100px);
  border-radius: 10px;
}
